# Supabase Configuration
VITE_SUPABASE_URL=https://mmtjywhszakacwvmurfr.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1tdGp5d2hzemFrYWN3dm11cmZyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIyNjAyMjEsImV4cCI6MjA4NzgzNjIyMX0.1QKvVCi1y0UIw2jpVy5SeGUvIMfpFGApDkoOX6mySGo
